@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

@theme {
  --color-gold: #D4AF37;
  --color-deep-brown: #22101b; /* Updated to match design background-dark */
  --color-cream: #f8f5f7; /* Updated to match design background-light */
  --color-brand-pink: #f20c92; /* Updated to match design primary */
  --color-primary: var(--color-brand-pink);
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Manrope", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-cream);
    color: var(--color-deep-brown);
    font-family: var(--font-sans);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
